[run]
source = barbican_ui
omit =
    barbican_ui/test/*
    *migrations*
    setup.py

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass

[html]
directory = cover
